/* App.css */
body{text-align: center;}
h1 {
  font-family: var(--font-h1);
font-weight: normal;
font-size: 3em;
}
h2 {
font-family: var(--font-h2);
font-weight: normal;
font-size: 3em;
letter-spacing: 5px;
}
p{
font-family: var(--font-p);
line-height: 150%;
letter-spacing: 1px;

}
code{font-family: var(--font-h2);color:  var(--color-primary);}

/* ... Header ... */
header{
  display :flex;
  justify-content: space-between;
}
header  ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
   font-size: 2rem;
  list-style-type: none;
  }
header  li{
  margin: 2.5rem;
}
header a{
  color:black;
  text-decoration: none;
}
header  .track{
  color:var(--color-primary);
  border: 1px solid var(--color-primary);
  padding: 5px 10px;
  border-radius: 5px;
}
/* ...Main ... */
.main{
  background-image: url("../src/assets/backgroung.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main h2{
  margin: 0;
  padding: 0;
  font-size: 4rem;
  text-shadow: 3px 3px 3px #000;
}
/* .main-p {
 // text-align: left;  
  max-width: 640px;            
  padding-left: 18rem;          
  padding-top: 13rem;
  line-height: 3.1rem;
}

.main-p p {
  font-family: var(--font-h2); 
  text-transform: lowercase;
  font-size: 1.5rem;
  padding: 1rem;
} */
 
/* ...About ... */
.about .about-txt{
  background-color:var(--color-primary) ;
  padding: 1rem;
  margin-top: 2rem;
  color: #fff;
  
}
.about .cards{
  color: black;
  margin-top: 2rem;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);}
.about .card{
  background-color:var(--color-primary);
  padding: 15px;
  color: #ffffff;
    text-align: left;
}
.overView {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}
.overView-num,
.overView-item {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  width: 100%; 
}
/* ...Services ... */
.services{
  color: #000;
  margin-top: 7rem;
  padding: 2rem;
}
.services p{
  font-size: 1.2rem;
  color: #000000;
  max-width: 900px;
  margin: 0 auto 2rem;
  line-height: 1.6;
}
.s-title{
margin-top: 6rem;
text-shadow: 5px 7px 5px ;
}
/* ...Why ... */
.why {
  color: #000;
  margin-top: 7rem;
  padding: 2rem;
  text-align: center;
}
.why-text {
  font-size: 1.2rem;
  color: #000000;
  max-width: 700px;
  margin: 0 auto 2rem; /* مسافة بين الفقرة والقائمة */
  line-height: 1.6;
}
.highlight {
  color: var(--color-primary);
  font-weight: 650;
  letter-spacing: -0.5px;
}
.why-features {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}
.why-features li {
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 13px;
  align-items: center;
}
/* ...Contact ... */
.wc-title{
  margin-top: 7rem; ;
  color: #000;
}
.contact{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #000;
  margin-top: 7rem;
  padding: 2rem;
}
.contact .icon1{font-size: 5rem;}
/* ...Footer ... */
.footer {
  background: #e9e9e9;
  padding: 3rem 2rem;
  color: #000;
  font-family: 'Segoe UI', sans-serif;
}
.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-logo img{max-width: 150px;}
.footer-nav,
.social-media {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.footer-nav a,
.footer-address a {text-decoration: none;color: #000;}

.footer-nav a:hover,
.footer-address a:hover {text-decoration: underline;text-decoration-color: var(--color-primary);}
.footer-address{ max-width: 300px;}
.social-media {
  flex-direction: row;
  font-size: 1.5rem;
}

.social-media a {
  color: #000;
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: var(--color-primary); 
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #666;
}

