/* index.css */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Julius+Sans+One&display=swap');

:root {
  --font-h1: 'Julius Sans One', sans-serif;            /* For brand name / h1 */
  --font-h2: 'Great Vibes';   /* For subheadings / h2 */
  --font-p: 'open-sans', sans-serif;                   /* Optional: for body text */
  --color-primary:hsl(0, 100%, 39%);           /* Optional: for primary color */
}

body {
  margin: 0;
  font-family: var(--font-h1);
  color: #ffffff;            /* optional */
}
